fastapi
prometheus-fastapi-instrumentator==8.1.0
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

python-multipart

boto3

pydantic

email-validator
